/target/
.DS_Store
screenshots/*.png
.vscode/
test-output/
test-output/*
/test-output
.target/
**/test-output
test-output
test-output/*.html
test-output/*.*
test-output/*.xml
/test-output/**
test-output/junitreports/
**/junitreports
.metadata/

